## Filtering the GWAS summary satistics files for gene annotation step of MAGMA

In [1]:
import yaml
import pandas as pd
import numpy as np
import os
from pathlib import Path

In [14]:
def get_config(file):

    with open(file, 'r', encoding="utf-8") as stream:
        config = yaml.safe_load(stream)

    return config

config = get_config("config.yaml")

In [15]:
config

{'SNP': 'C:\\Users\\Gebruiker\\OneDrive\\Documents\\DSLS\\integrated_omics\\project\\height\\SNP_loc.txt',
 'gen_loc': 'C:\\Users\\Gebruiker\\OneDrive\\Documents\\DSLS\\integrated_omics\\project\\magma\\ensgR75_protein_coding.txt'}

In [10]:
config['SNP']

'C:\\Users\\Gebruiker\\OneDrive\\Documents\\DSLS\\integrated_omics\\project\\height\\SNP_loc.txt'

In [17]:
config['gen_loc']

'C:\\Users\\Gebruiker\\OneDrive\\Documents\\DSLS\\integrated_omics\\project\\magma\\ensgR75_protein_coding.txt'

### 1) Filtering the GWAS summary statistics of Height trait

In [11]:
# this dataset is for Height trait
#loading the dataset

#making a config file: 


file = config['SNP']

data = pd.read_csv(file, sep="\t")

In [12]:
data.head(10)

,CHR,POS,SNP,Tested_Allele,Other_Allele,Freq_Tested_Allele_in_HRS,BETA,SE,P,N
0,7,92383888,rs10,A,C,0.06431,-0.0066,0.0035,6.000000e-02,605309.0
1,12,126890980,rs1000000,A,G,0.22190,-0.0001,0.0017,9.500000e-01,706961.0
2,4,21618674,rs10000010,T,C,0.50860,-0.0022,0.0014,1.200000e-01,697417.0
3,4,1357325,rs10000012,C,G,0.86340,0.0143,0.0021,4.500000e-12,709514.0
4,4,37225069,rs10000013,A,C,0.77080,0.0015,0.0017,3.900000e-01,704912.0
5,4,84778125,rs10000017,T,C,0.22840,0.0019,0.0017,2.800000e-01,703109.0
6,3,183635768,rs1000002,T,C,0.48840,0.0040,0.0014,5.100000e-03,709522.0
7,4,95733906,rs10000023,T,G,0.58170,0.0029,0.0015,4.600000e-02,691905.0
8,4,156176217,rs10000027,C,G,0.77100,-0.0013,0.0019,4.800000e-01,526087.0
9,3,98342907,rs1000003,A,G,0.84040,0.0078,0.0020,8.900000e-05,707561.0

In [64]:
~data.columns.isin(['CHR', 'POS', 'SNP'])

array([False, False, False,  True,  True,  True,  True,  True,  True,
        True])

In [ ]:
# for the analysis we only need three columns: 'HR', 'POS', 'SNP'


# data.drop(columns=[])
# indices_remove = np.where(data.columns != 'SNP')

data.drop(columns=data.columns[~data.columns.isin(['CHR', 'POS', 'SNP'])], inplace=True)

In [ ]:
# the order of columns should be based on the MAGMA standards

snp_data = data.SNP
data.drop(columns="SNP", inplace=True)
data.insert(0, "SNP", snp_data)

In [67]:
data.head(10)

          SNP  CHR        POS
0        rs10    7   92383888
1   rs1000000   12  126890980
2  rs10000010    4   21618674
3  rs10000012    4    1357325
4  rs10000013    4   37225069
5  rs10000017    4   84778125
6   rs1000002    3  183635768
7  rs10000023    4   95733906
8  rs10000027    4  156176217
9   rs1000003    3   98342907

In [68]:
#saving the output as a csv file
out_file = Path ("snp_loc_filtered.txt")

data.to_csv(out_file, sep="\t", index=False)

### 2) Pre-processing of gene_loc file, downloaded from MAGMA website

In [18]:
#loading the data
file = config['gen_loc']

df = pd.read_csv(file, sep="\t")

In [19]:
df

,Ensembl Gene ID,Chromosome Name,Gene Start (bp),Gene End (bp),Gene Biotype,Band,Associated Gene Name
0,ENSG00000236624,1,45959538,45965751,protein_coding,p34.1,CCDC163P
1,ENSG00000159214,1,44457031,44462200,protein_coding,p34.1,CCDC24
2,ENSG00000243452,1,148555979,148596267,protein_coding,q21.2,NBPF15
3,ENSG00000164008,1,43232940,43263968,protein_coding,p34.2,C1orf50
4,ENSG00000143847,1,202995626,203047868,protein_coding,q32.1,PPFIA4
...,...,...,...,...,...,...,...
20322,ENSG00000233803,Y,9175073,9177893,protein_coding,p11.2,TSPY4
20323,ENSG00000229549,Y,9195406,9218479,protein_coding,p11.2,TSPY8
20324,ENSG00000228927,Y,9236030,9307357,protein_coding,p11.2,TSPY3
20325,ENSG00000258992,Y,9236076,9307357,protein_coding,p11.2,TSPY1
20326,ENSG00000205944,Y,25365594,25437503,protein_coding,q11.223,DAZ2

In [48]:
~df.columns.isin(['Ensembl Gene ID', 'Chromosome Name', 'Gene Start (bp)', 'Gene End (bp)'])

array([False, False, False, False,  True,  True,  True])

In [49]:
# FIlter the data
#selecting the columns requried for the analysis


# data.drop(columns=[])
# indices_remove = np.where(data.columns != 'SNP')
df.drop(columns=df.columns[~df.columns.isin(['Ensembl Gene ID', 'Chromosome Name', 'Gene Start (bp)', 'Gene End (bp)'])], inplace=True)

In [50]:
df

       Ensembl Gene ID Chromosome Name  Gene Start (bp)  Gene End (bp)
0      ENSG00000236624               1         45959538       45965751
1      ENSG00000159214               1         44457031       44462200
2      ENSG00000243452               1        148555979      148596267
3      ENSG00000164008               1         43232940       43263968
4      ENSG00000143847               1        202995626      203047868
...                ...             ...              ...            ...
20322  ENSG00000233803               Y          9175073        9177893
20323  ENSG00000229549               Y          9195406        9218479
20324  ENSG00000228927               Y          9236030        9307357
20325  ENSG00000258992               Y          9236076        9307357
20326  ENSG00000205944               Y         25365594       25437503

[20327 rows x 4 columns]

In [51]:
#renaming the columns based on MAGMA standards

df.rename(columns = {'Ensembl Gene ID':'Gene ID', 'Gene Start (bp)':'start site', 'Gene End (bp)':'stop site', 'Chromosome Name':'chromosome'}, inplace = True)

In [52]:
df

               Gene ID chromosome  start site  stop site
0      ENSG00000236624          1    45959538   45965751
1      ENSG00000159214          1    44457031   44462200
2      ENSG00000243452          1   148555979  148596267
3      ENSG00000164008          1    43232940   43263968
4      ENSG00000143847          1   202995626  203047868
...                ...        ...         ...        ...
20322  ENSG00000233803          Y     9175073    9177893
20323  ENSG00000229549          Y     9195406    9218479
20324  ENSG00000228927          Y     9236030    9307357
20325  ENSG00000258992          Y     9236076    9307357
20326  ENSG00000205944          Y    25365594   25437503

[20327 rows x 4 columns]

In [54]:
#Downloading the output as a csv file
out_file = Path("gen_loc_filtered.txt")


df.to_csv(out_file, sep="\t", index=False)

### 3) GWAS summary statistics of Inflammatory bowel disease (IBM)

In [16]:
#load the dataset

file = "28067908-GCST004131-EFO_0003767.h.tsv"

df = pd.read_csv(file, sep="\t")

In [17]:
df

,hm_variant_id,hm_rsid,hm_chrom,hm_pos,hm_other_allele,hm_effect_allele,hm_beta,hm_odds_ratio,hm_ci_lower,hm_ci_upper,...,beta,standard_error,p_value,chromosome,base_pair_location,odds_ratio,ci_lower,variant_id,effect_allele_frequency,ci_upper
0,10_9958055_A_G,rs6602381,10,9958055,A,G,0.0108,NaN,NaN,NaN,...,0.0108,0.0127,0.39360,10,9958055,NaN,NaN,rs6602381,NaN,NaN
1,10_98240868_A_G,rs7899632,10,98240868,A,G,0.0230,NaN,NaN,NaN,...,0.0230,0.0124,0.06407,10,98240868,NaN,NaN,rs7899632,NaN,NaN
2,10_98240888_A_C,rs61875309,10,98240888,A,C,-0.0291,NaN,NaN,NaN,...,-0.0291,0.0153,0.05748,10,98240888,NaN,NaN,rs61875309,NaN,NaN
3,10_98242110_C_T,rs150203744,10,98242110,C,T,0.0607,NaN,NaN,NaN,...,-0.0607,0.0581,0.29600,10,98242110,NaN,NaN,rs150203744,NaN,NaN
4,10_98242707_T_C,rs111551711,10,98242707,T,C,-0.0225,NaN,NaN,NaN,...,-0.0225,0.0731,0.75790,10,98242707,NaN,NaN,rs111551711,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9633625,9_97236364_C_G,rs10981297,9,97236364,C,G,-0.0002,NaN,NaN,NaN,...,-0.0002,0.0159,0.98750,9,97236364,NaN,NaN,rs10981297,NaN,NaN
9633626,9_9999880_G_C,rs151001359,9,9999880,G,C,0.1749,NaN,NaN,NaN,...,-0.1749,0.0834,0.03586,9,9999880,NaN,NaN,rs151001359,NaN,NaN
9633627,9_97236872_G_A,rs80110029,9,97236872,G,A,-0.0873,NaN,NaN,NaN,...,0.0873,0.1310,0.50520,9,97236872,NaN,NaN,rs80110029,NaN,NaN
9633628,9_97237186_A_G,rs10981301,9,97237186,A,G,-0.0069,NaN,NaN,NaN,...,-0.0069,0.0215,0.74750,9,97237186,NaN,NaN,rs10981301,NaN,NaN
9633629,9_97237543_A_AC,rs148363074,9,97237543,A,AC,-0.1876,NaN,NaN,NaN,...,-0.1876,0.1540,0.22310,9,97237543,NaN,NaN,rs148363074,NaN,NaN

In [18]:
# selcting the columns we need for the analysis

df = df[['hm_rsid', 'hm_chrom', 'hm_pos', 'p_value']]

In [19]:
# renaming the columns

df = df.rename(columns={'hm_rsid':'SNP', 'hm_chrom':'CHR', 'hm_pos':'POS', 'p_value':'P' })

In [20]:
df

                 SNP  CHR       POS        P
0          rs6602381   10   9958055  0.39360
1          rs7899632   10  98240868  0.06407
2         rs61875309   10  98240888  0.05748
3        rs150203744   10  98242110  0.29600
4        rs111551711   10  98242707  0.75790
...              ...  ...       ...      ...
9633625   rs10981297    9  97236364  0.98750
9633626  rs151001359    9   9999880  0.03586
9633627   rs80110029    9  97236872  0.50520
9633628   rs10981301    9  97237186  0.74750
9633629  rs148363074    9  97237543  0.22310

[9633630 rows x 4 columns]

In [21]:
# downloading the output as a csv file
out_file = Path("GWAS_IBM.txtt")

df.to_csv(out_file, sep="\t", index=False)

### 4) Gwas summary statistics of prostate cancer

In [ ]:
file = "meta_v3_onco_euro_overall_ChrAll_1_release.txt"

df = pd.read_csv(", sep='\t')

In [6]:
df = pd.read_csv(r"C:\Users\Gebruiker\OneDrive\Documents\DSLS\integrated_omics\project\prostate_cancer\meta_v3_onco_euro_overall_ChrAll_1_release.txt", sep="\t")

C:\Users\Gebruiker\AppData\Local\Temp\ipykernel_43176\325998831.py:1: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\Gebruiker\OneDrive\Documents\DSLS\integrated_omics\project\prostate_cancer\meta_v3_onco_euro_overall_ChrAll_1_release.txt", sep="\t")

In [7]:
df.head(10)

,MarkerName,rs_id,SNP,Chr,position,Allele1,Allele2,Freq1,FreqSE,MinFreq,MaxFreq,Effect,StdErr,Pvalue,Direction,OncoArray_imputation_r2
0,1_10177_A_AC,1:10177:A:AC,1:10177:A:AC,1,10177,a,ac,0.6104,0.0095,0.5834,0.6180,-0.0211,0.0136,0.1217,--+??-+-,0.404191
1,1_10352_T_TA,rs145072688:10352:T:TA,rs145072688,1,10352,t,ta,0.5753,0.0033,0.5663,0.5844,-0.0094,0.0128,0.4628,+--??-+-,0.479468
2,1_10616_CCGCCGTTGCAAAGGCGCGCCG_C,rs376342519:10616:CCGCCGTTGCAAAGGCGCGCCG:C,rs376342519,1,10616,ccgccgttgcaaaggcgcgccg,c,0.0066,0.0001,0.0066,0.0069,0.0572,0.0696,0.4107,+?+???+-,0.818658
3,1_10642_G_A,1:10642:G:A,1:10642:G:A,1,10642,a,g,0.0004,0.0000,0.0004,0.0006,0.5592,0.3514,0.1115,+?+?????,0.483477
4,1_11008_C_G,1:11008:C:G,1:11008:C:G,1,11008,c,g,0.9058,0.0037,0.8923,0.9121,-0.0204,0.0196,0.2979,-+-?----,0.587134
5,1_11012_C_G,1:11012:C:G,1:11012:C:G,1,11012,c,g,0.9058,0.0037,0.8923,0.9121,-0.0204,0.0196,0.2979,-+-?----,0.587134
6,1_13110_G_A,1:13110:G:A,1:13110:G:A,1,13110,a,g,0.0589,0.0054,0.0447,0.0751,-0.0377,0.0332,0.2565,-?-?-+--,0.384950
7,1_13116_T_G,rs201725126:13116:T:G,rs201725126,1,13116,t,g,0.8255,0.0066,0.8141,0.8475,-0.0035,0.0178,0.8447,-++??--+,0.395831
8,1_13118_A_G,rs200579949:13118:A:G,rs200579949,1,13118,a,g,0.8255,0.0066,0.8141,0.8475,-0.0035,0.0178,0.8447,-++??--+,0.395831
9,1_13273_G_C,1:13273:G:C,1:13273:G:C,1,13273,c,g,0.1399,0.0027,0.1274,0.1526,-0.0090,0.0201,0.6536,--+??--+,0.357579

In [8]:
df = df.dropna()

In [9]:
#selecting and filtering the columns based on the standard of MAGMA

data = df[df.SNP.str.startswith("rs")].loc[:,["SNP", "Chr", 
                                             "position", "Pvalue"]]

In [10]:
data

                  SNP  Chr   position   Pvalue
1         rs145072688    1      10352  0.46280
2         rs376342519    1      10616  0.41070
7         rs201725126    1      13116  0.84470
8         rs200579949    1      13118  0.84470
18         rs75454623    1      14930  0.61880
...               ...  ...        ...      ...
20261673  rs111639741   23  129062079  0.51050
20261675  rs371460327   23  129062459  0.01093
20261676  rs151204157   23  129062460  0.33980
20261679  rs187453998   23  129063265  0.28060
20261680  rs111975985   23  129063293  0.47570

[13498991 rows x 4 columns]

In [ ]:
#rename columns
data = data.rename(columns= {'Chr':'CHR', 'position':'POS', 'Pvalue':'P'})

In [ ]:
out_file = Path("magma_step2_prstcan.txt")

data.to_csv(out_file, sep="\t", index = False)